WhitePaperBible.Tests/bin/iPhoneSimulator/
WhitePaperBibleCore/bin/Debug/
WhitePaperBible.iOS/bin/
WhitePaperBible.iOS/obj/
*/bin
*/obj/*

/.DS_Store
WhitePaperBible.Android/WhitePaperBible.Android/bin/Debug/MonkeyArmsFramework.dll
WhitePaperBible.Android/WhitePaperBible.Android/bin/Debug/MonkeyArmsFramework.dll.mdb
WhitePaperBible.Android/WhitePaperBible.Android/bin/Debug/Mono.Security.dll
WhitePaperBible.Android/WhitePaperBible.Android/bin/Debug/Newtonsoft.Json.dll
WhitePaperBible.Android/WhitePaperBible.Android/bin/Debug/RestSharp.MonoDroid.dll
WhitePaperBible.Android/WhitePaperBible.Android/bin/Debug/RestSharp.MonoDroid.dll.mdb
WhitePaperBible.Android/WhitePaperBible.Android/bin/Debug/System.Configuration.dll
WhitePaperBible.Android/WhitePaperBible.Android/bin/Debug/System.Runtime.Serialization.dll
WhitePaperBible.Android/WhitePaperBible.Android/bin/Debug/System.Security.dll
WhitePaperBible.Android/WhitePaperBible.Android/bin/Debug/TinyIOC.dll
WhitePaperBible.Android/WhitePaperBible.Android/bin/Debug/WhitePaperBible.Android-Signed.apk
WhitePaperBible.Android/WhitePaperBible.Android/bin/Debug/WhitePaperBible.Android.apk
WhitePaperBible.Android/WhitePaperBible.Android/bin/Debug/WhitePaperBible.Android.dll
WhitePaperBible.Android/WhitePaperBible.Android/bin/Debug/WhitePaperBible.Android.dll.mdb
WhitePaperBible.Android/WhitePaperBible.Android/bin/Debug/WhitePaperBible.Core.dll
WhitePaperBible.Android/WhitePaperBible.Android/bin/Debug/WhitePaperBible.Core.dll.mdb
WhitePaperBible.Android/WhitePaperBible.Android/bin/Debug/mscorlib.dll
WhitePaperBibleAndroid/WhitePaperBible.Core/bin/Debug/MonkeyArmsFramework.dll
WhitePaperBibleAndroid/WhitePaperBible.Core/bin/Debug/MonkeyArmsFramework.dll.mdb
WhitePaperBibleAndroid/WhitePaperBible.Core/bin/Debug/Mono.Security.dll
WhitePaperBibleAndroid/WhitePaperBible.Core/bin/Debug/Newtonsoft.Json.MonoDroid.dll
WhitePaperBibleAndroid/WhitePaperBible.Core/bin/Debug/Newtonsoft.Json.dll
WhitePaperBibleAndroid/WhitePaperBible.Core/bin/Debug/RestSharp.Android.dll
WhitePaperBibleAndroid/WhitePaperBible.Core/bin/Debug/RestSharp.MonoDroid.dll
WhitePaperBibleAndroid/WhitePaperBible.Core/bin/Debug/RestSharp.MonoDroid.dll.mdb
WhitePaperBibleAndroid/WhitePaperBible.Core/bin/Debug/System.Configuration.dll
WhitePaperBibleAndroid/WhitePaperBible.Core/bin/Debug/System.Runtime.Serialization.dll
WhitePaperBibleAndroid/WhitePaperBible.Core/bin/Debug/System.Security.dll
WhitePaperBibleAndroid/WhitePaperBible.Core/bin/Debug/TinyIOC.dll
WhitePaperBibleAndroid/WhitePaperBible.Core/bin/Debug/WhitePaperBible.Core.dll
WhitePaperBibleAndroid/WhitePaperBible.Core/bin/Debug/WhitePaperBible.Core.dll.mdb
WhitePaperBibleAndroid/WhitePaperBible.Core/bin/Debug/mscorlib.dll
WhitePaperBibleAndroid/WhitePaperBible.Core/obj/Debug/R.cs.flag
WhitePaperBibleAndroid/WhitePaperBible.Core/obj/Debug/WhitePaperBible.Core.csproj.FilesWrittenAbsolute.txt
WhitePaperBibleAndroid/WhitePaperBible.Core/obj/Debug/WhitePaperBible.Core.dll
WhitePaperBibleAndroid/WhitePaperBible.Core/obj/Debug/WhitePaperBible.Core.dll.mdb
WhitePaperBibleAndroid/WhitePaperBible.Core/obj/Debug/WhitePaperBible.Core.obj.Debug.__AndroidLibraryProjects__.zip
WhitePaperBibleAndroid/WhitePaperBible.Core/obj/Debug/__AndroidLibraryProjects__.zip
WhitePaperBibleAndroid/WhitePaperBible.Core/obj/Debug/__library_projects__/MonkeyArmsFramework.dll.stamp
WhitePaperBibleAndroid/WhitePaperBible.Core/obj/Debug/__library_projects__/Newtonsoft.Json.dll.stamp
WhitePaperBibleAndroid/WhitePaperBible.Core/obj/Debug/__library_projects__/RestSharp.MonoDroid.dll.stamp
WhitePaperBibleAndroid/WhitePaperBible.Core/obj/Debug/android/whitepaperbible/core/R.java
WhitePaperBibleAndroid/WhitePaperBible.Core/obj/Debug/library_project_imports/__res_name_case_map.txt
WhitePaperBibleAndroid/WhitePaperBible.Core/obj/Debug/library_project_imports/res/values/strings.xml
WhitePaperBibleAndroid/WhitePaperBible.Core/obj/Debug/res/values/strings.xml
