<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack-PCL" version="1.4.6" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="portable-net45+sl50+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="portable-net45+sl50+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-net45+sl50+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="PCLStorage" version="0.9.6" targetFramework="portable-net45+sl50+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
</packages>